<!--top-bar-->
<div class="top-bar bg-fernGreen">
  <div
    class="container flex justify-between md:justify-end items-center mx-auto text-center md:text-right max-w-5xl pt-2 pb-2 pl-4 pr-4">
    {{ page.secondary_menu }}
    <a href="javascript:void(0);" id="toggleMenu" class="block md:hidden top-4 right-4 icon">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>
<!--end top-bar-->
